@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bold {
  font-weight: 500;
}

:root {
  font-size: 16px;
}

header {
  padding-top: 50px;
}

.container {
  width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
}

.menu {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.menu__item > a {
  text-decoration: none;
  color: #4f5665;
  text-decoration: none;
  margin-left: 40px;
  font-family: "Rubik", sans-serif;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Rubik", sans-serif;
}

.logo__bold {
  font-weight: bold;
}

.profle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile__login {
  background-color: transparent;
  color: #0b132a;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.profile__signUp {
  border: 1px solid #f53855;
  border-radius: 5px;
  background: transparent;
  width: 150px;
  height: 45px;
  margin-left: 30px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #f53855;
}

/* jumbotron */
.jumbotron {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
}

.jumbotron__image {
  width: 611.24px;
  height: 382.44px;
}

.jumbotron__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.jumbotron__text__header {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  /* or 140% */
  color: #0b132a;
}

.jumbotron__text__main {
  font-size: 16px;
  line-height: 30px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #0b132a;
  margin-top: 20px;
}

.jumbotron__text__button {
  background: #f53855;
  border-radius: 10px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  /* identical to box height, or 156% */
  border: none;
  color: #ffffff;
  width: 250px;
  height: 60px;
}

.jumbotron__text__button:hover {
  color: #f53855;
  border: 1px solid #f53855;
  background-color: #ffffff;
}

.jumbotron__text__shadow {
  background: rgba(245, 56, 56, 0.35);
  -webkit-filter: blur(54px);
          filter: blur(54px);
  border-radius: 10px;
  -webkit-transform: rotate(0.92deg);
          transform: rotate(0.92deg);
  width: 211.83px;
  height: 60px;
  position: absolute;
  top: 90px;
  left: 20px;
}

.jumbotron__text__buttonBlock {
  margin-top: 50px;
  position: relative;
}

.info__panel__item:nth-child(3) {
  border-right: none;
}

.info {
  margin-top: 130px;
  position: relative;
}

.info__panel {
  width: 1140px;
  height: 200px;
  background: #ffffff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}

.info__panel__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-right: 2px solid #eeeff2;
  padding-right: 130px;
}

.info__panel__item__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 36px;
}

.info__panel__item__icon {
  width: 55px;
  height: 55px;
  background: #ffecec;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__panel__item__header {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  /* identical to box height, or 120% */
  color: #0b132a;
}

.info__panel__item__subtitle {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 120% */
  color: #0b132a;
}

.info__shadow {
  width: 1068.84px;
  height: 189.22px;
  background: #0d1025;
  opacity: 0.06;
  -webkit-filter: blur(114px);
          filter: blur(114px);
  border-radius: 10px;
  position: absolute;
  z-index: -50;
}

.features {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.featuresText {
  width: 40%;
  margin-top: 100px;
}

.featuresText__title {
  width: 400px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  /* or 143% */
  color: #0b132a;
}

.featuresText__subtitle {
  margin-top: 20px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* or 143% */
  color: #0b132a;
}

.featuresText__options {
  margin-top: 20px;
  list-style: none;
}

.featuresText__options__item {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  /* identical to box height, or 214% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4f5665;
}

.featuresText__icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.featuresImage {
  width: 508.12px;
  height: 414.71px;
}

.bg-grey {
  background-color: #f6f6f6;
}

.yourPlan {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0;
}

.yourPlan__title {
  margin-top: 20px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  /* identical to box height, or 143% */
  text-align: center;
  color: #0b132a;
}

.yourPlan__subtitle {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* or 187% */
  text-align: center;
  color: #4f5665;
}

.plans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-top: 60px;
}

.plan {
  background: #ffffff;
  border: 2px solid #dddddd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  width: 330px;
  height: 760px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.plan__logo {
  width: 144.9px;
  height: 165.37px;
}

.plan__title {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height, or 167% */
  text-align: center;
  color: #0b132a;
}

.plan__options {
  list-style: none;
}

.plan__options__item {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  /* identical to box height, or 214% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4f5665;
}

.plan__namePlan {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  /* identical to box height, or 120% */
  text-align: center;
  color: #0b132a;
}

.plan__button {
  width: 177.88px;
  height: 45px;
  background: #f53855;
  border-radius: 10px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  /* identical to box height, or 156% */
  border: none;
  color: #ffffff;
}

.plan__button:hover {
  color: #f53855;
  border: 1px solid #f53855;
  background-color: #ffffff;
}

.global {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 70px;
}

.global__title {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #0b132a;
  font-size: 35px;
  line-height: 50px;
  /* or 143% */
  text-align: center;
}

.global__subtitle {
  margin-top: 20px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #4f5665;
  font-size: 16px;
  line-height: 30px;
  /* or 187% */
  text-align: center;
}

.global__map {
  margin-top: 155px;
  width: 1060px;
  height: 537.77px;
}

.spons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.suggestions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
}

.suggestions__title {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #0b132a;
  font-size: 35px;
  line-height: 50px;
}

.suggestions__subtitle {
  margin-top: 20px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #4f5665;
  font-size: 16px;
  line-height: 30px;
}

.suggestions__block {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.suggestionCard {
  background: #ffffff;
  border: 2px solid #DDDDDD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  padding: 30px;
  width: 400px;
  height: 230px;
  margin-left: 50px;
}

.suggestionCard:nth-child(1) {
  margin-left: 0;
}

.suggestionCard_active {
  border-color: #f53855;
}

.suggestionCard__ava {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.suggestionCard__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.suggestionCard__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
}

.suggestionCard__name {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #0b132a;
  font-size: 18px;
  line-height: 30px;
}

.suggestionCard__text {
  margin-top: 10px;
  font-size: 16px;
  line-height: 30px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #4f5665;
  color: #0b132a;
}

.suggestionCard__city {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #4f5665;
  font-size: 14px;
  line-height: 30px;
}

.suggestionCard__score {
  font-size: 16px;
  line-height: 30px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #4f5665;
  color: #0b132a;
  margin-left: 78px;
}

.suggestionCard__star {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.suggestionsButtonBlock {
  width: 100%;
  margin-top: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.suggestionsButtonBlock__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.suggestionsButtonBlock__button {
  background: #ffffff;
  border-radius: 10px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  /* identical to box height, or 156% */
  border: 1px solid #f53855;
  color: #f53855;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.suggestionsButtonBlock__button:hover {
  color: #ffffff;
  border: 1px solid #f53855;
  background-color: #f53855;
}

.suggestionsButtonBlock__button:nth-child(1) {
  margin-right: 20px;
}

.suggestionsButtonBlock__points {
  width: 135px;
  height: 15px;
}

.subscribe {
  border: 2px solid #AFB5C0;
  border-radius: 10px;
  width: 1140px;
  height: 233px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 70px;
}

.subscribe__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 370px;
}

.subscribe__title {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #0b132a;
  font-size: 35px;
  line-height: 45px;
}

.subscribe__subtitle {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #4f5665;
  font-size: 16px;
  line-height: 30px;
}

.subscribe__button {
  background: #f53855;
  border-radius: 10px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  /* identical to box height, or 156% */
  border: none;
  color: #ffffff;
  width: 250px;
  height: 60px;
}

.subscribe__button:hover {
  color: #f53855;
  border: 1px solid #f53855;
  background-color: #ffffff;
}

footer {
  background-color: #F8F8F8;
  padding: 66px 0 100px;
}

.footerMainBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 340px;
}

.footerMainBlock__subtitle {
  margin-top: 30px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #4f5665;
  font-size: 16px;
  line-height: 30px;
}

.footerMainBlock__copyright {
  margin-top: 30px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #4f5665;
  font-size: 16px;
  line-height: 30px;
  color: #AFB5C0;
}

.footerBlock__title {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #0b132a;
  font-size: 18px;
  line-height: 30px;
}

.footerBlock__items {
  list-style: none;
  margin-top: 10px;
}

.footerBlock__item > a {
  text-decoration: none;
  margin-top: 10px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  /* identical to box height, or 214% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4f5665;
}

.socials {
  margin-top: 30px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.socials__item {
  margin-left: 20px;
}

.socials__item:nth-child(1) {
  margin-left: 0;
}

.socials__item > img {
  width: 33.6px;
  height: 33.6px;
}
/*# sourceMappingURL=style.css.map */